<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.ActiveMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.springboot.entity.ActiveEntity">
        <id column="active_id" property="activeId" />
        <result column="active_label" property="activeLabel" />
        <result column="active_start" property="activeStart" />
        <result column="active_end" property="activeEnd" />
        <result column="active_address" property="activeAddress" />
        <result column="active_phone" property="activePhone" />
        <result column="active_content" property="activeContent" />
        <result column="active_cover" property="activeCover" />
        <result column="active_state" property="activeState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        active_id, active_label, active_start, active_end, active_address, active_phone, active_content, active_cover, active_state
    </sql>

</mapper>
