<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.ApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.springboot.entity.ApplyEntity">
        <id column="apply_id" property="applyId" />
        <result column="apply_acc" property="applyAcc" />
        <result column="apply_phone" property="applyPhone" />
        <result column="apply_label" property="applyLabel" />
        <result column="apply_date" property="applyDate" />
        <result column="apply_check" property="applyCheck" />
        <result column="apply_advice" property="applyAdvice" />
        <result column="apply_state" property="applyState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        apply_id, apply_acc, apply_phone, apply_label, apply_date, apply_check, apply_advice, apply_state
    </sql>

</mapper>
