<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.ReviewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.springboot.entity.ReviewEntity">
        <id column="review_id" property="reviewId" />
        <result column="review_name" property="reviewName" />
        <result column="review_date" property="reviewDate" />
        <result column="review_content" property="reviewContent" />
        <result column="review_star" property="reviewStar" />
        <result column="review_state" property="reviewState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        review_id, review_name, review_date, review_content, review_star, review_state
    </sql>

</mapper>
