<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.ServeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.springboot.entity.ServeEntity">
        <id column="serve_id" property="serveId" />
        <result column="serve_cover" property="serveCover" />
        <result column="serve_label" property="serveLabel" />
        <result column="serve_content" property="serveContent" />
        <result column="serve_state" property="serveState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        serve_id, serve_cover, serve_label, serve_content, serve_state
    </sql>

</mapper>
