<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.SwiperMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.springboot.entity.SwiperEntity">
        <id column="swiper_id" property="swiperId" />
        <result column="swiper_label" property="swiperLabel" />
        <result column="swiper_src" property="swiperSrc" />
        <result column="swiper_url" property="swiperUrl" />
        <result column="swiper_state" property="swiperState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        swiper_id, swiper_label, swiper_src, swiper_url, swiper_state
    </sql>

</mapper>
